.container {
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.container .row {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-budget input {
    width: 100px;
    /* display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 10px; */
}

.new-budget button {
    padding: 8px 6px;
}

.container div:nth-child(2) div:last-child {
    margin-top: 20px;
}

.container div:nth-child(2) b {
    color: var(--color-primary);
}

/* .container svg {
    height: 20px;
    width: 20px;
    color: #4caf50;
    transition: all 0.2s ease-out;
} */

/* .container svg:hover {
    color: #ff9800;
} */

/* .overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay:target {
    display: flex;
}

.popup {
    background-color: var(--color-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow-hard);
}

.popup h3 {
    margin-bottom: 10px;
}

.popup div {
    margin-top: 20px;
    text-align: right;
}

.popup form button {
    font-size: 0.8rem;
    padding: 8px 18px;
    margin-right: 10px;
}

.popup .popup-btn {
    font-size: 0.8rem;
    padding: 8px 10px;
    background-color: #4caf50;
    border-radius: 8px;
    color: #fff;
    transition: all 0.2s ease-out;
}

.popup a:hover {
    color: #fff !important;
    background-color: #ff9800;
}

.popup p {
    margin-bottom: 30px;
} */

@keyframes load {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}